@mixin black-key {
  z-index: 2;
  position: absolute;
  top: 0.05em;
  width: 3%;
  height: 60%;
  background: black;
  box-shadow: 0.1em 0.3em 0.1em 0.4em rgba(0, 0, 0, 1),
    0.1em 0em 0.05em 0.2em rgba(0, 0, 0, 0.9), inset 0.05em 0.05em gray,
    inset 0.2em 0.1em rgba(255, 255, 255, 0.6),
    inset -0.2em 0 rgba(58, 58, 58, 0.5);
  border-bottom: 1em solid rgba(255, 255, 255, 0.2);

  transform: rotateX(100px);
  perspective: -200px;
}

@mixin flex-col {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@mixin flex-row {
  display: flex;
  justify-content: center;
  align-items: center;
}
@mixin arrow {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border-right: 0.7em solid rgba(221, 219, 219, 0.6);
  border-top: 0.7em solid transparent;
  border-bottom: 0.7em solid transparent;
}

:root {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
h1 {
  font-size: 1em;
  text-transform: capitalize;
  color: rgba(221, 219, 219, 0.6);
  display: block;
  width: 100%;
  text-align: center;
  margin: 0 0 0.2em 0;
}
span {
  font-size: 1em;
  font-weight: bold;
  color: white;
  text-transform: capitalize;
  text-align: center;
}
.btn:hover,
.key:hover,
.pad:hover,
.nob:hover,
.wheel:hover {
  cursor: pointer;
}
.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(92, 92, 92, 0.9);
  box-shadow: 0.05em 0.05em 0.05em 0.1em rgba(255, 255, 255, 0.3);
  border: 0.1em outset white;
  border-radius: 0.1em;
  transform: rotateX(20deg);
  transition: all 0.05s ease-in-out;
  &.active {
    box-shadow: 0.05em 0.05em 0.1em 0.1em rgba(255, 255, 186, 0.9);
    transform: translateZ(-0.05em);
    span {
      color: rgba(255, 255, 102, 0.7);
    }
  }
}
.btn-sm {
  height: 2rem;
  width: 4rem;
}
.btn-lg {
  height: 5rem;
  width: 5rem;
}
.midi-container {
  display: grid;
  grid-template: repeat(6, 1fr) / repeat(13, 1fr);
  width: 90%;
  height: 80%;
  border: 2px solid black;
  background: radial-gradient(black 15%, transparent 2%) 0 0,
    radial-gradient(black 15%, transparent 2%) 8px 8px,
    radial-gradient(rgba(255, 255, 255, 0.1) 15%, transparent 20%) 0 1px,
    radial-gradient(rgba(255, 255, 255, 0.1) 15%, transparent 20%) 8px 9px;
  background-color: #282828;
  background-size: 10px 10px;
}
.wheels-container {
  grid-row: 1/4;
  grid-column: 1/3;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  text-align: center;
  .wheel {
    width: 60%;
    height: 80%;
    background: black;
    border-radius: 0.5em;
    border: 0.4em groove rgba(255, 255, 255, 0.5);
    box-shadow: inset 0 0 0.1em 0.1em rgba(255, 255, 255, 0.7);
    position: relative;
    margin: 0 auto;
    .slide-bar-right,
    .slide-bar-left {
      position: absolute;
      display: block;
      width: 80%;
      height: 0.3em;
      background: rgba(158, 156, 156, 0.5);
      border-bottom: 0.1em solid rgba(255, 255, 255, 0.3);
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
}
.buttons-left-container {
  grid-row: 1/4;
  grid-column: 3/4;
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-rows: repeat(2, 1fr);

  .timing-btns {
    grid-row: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    font-size: 0.8em;
  }
  .octave-btns {
    grid-row: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1em;
  }
}
.nobs-container {
  grid-row: 1;
  grid-column: 4/11;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  place-items: center;

  .nob {
    background-color: rgb(19, 19, 19);
    background-size: 1em 1em;

    box-shadow: 0 0 0.1em 0.1em rgba(221, 219, 219, 0.6),
      0 0 0.1em 0.05em rgba(133, 132, 132, 0.6),
      0em 0em 0.05em 0.1em rgba(255, 255, 255, 0.7);
    border-radius: 50%;

    height: 40%;
    width: 40%;
    border: 1px solid gray;
    transform: rotateX(30deg) translate3d(0, 0, 0.5em);
    transform-style: preserve-3d;
    position: relative;
    &::after {
      content: "";
      position: absolute;
      top: 0;
      right: 50%;
      transform-origin: 100%;
      transform: rotate(-90deg);
      width: 1em;
      height: 0.2em;
      background: white;
    }
  }
}
.pads-container {
  grid-row: 2/4;
  grid-column: 4/11;
  display: grid;
  grid-template: repeat(2, 1fr) / repeat(7, 1fr);
  padding: 0.5em;
  place-items: center;

  .pad {
    width: 90%;
    height: 80%;
    background: radial-gradient(
        circle,
        rgba(255, 255, 255, 0.7),
        rgba(255, 255, 186, 0.8),
        rgba(255, 255, 200, 0.8),
        rgba(255, 255, 214, 0.8)
      ),
      rgba(255, 255, 102, 0.8);
    box-shadow: inset 0 0 0.1em 0.05em rgba(0, 0, 0, 0.9),
      0.05em 0.05em 0.05em 0.05em rgb(38, 37, 37);
    filter: drop-shadow(0.1em 0.1em 0.1em rgba(255, 255, 186, 0.9));
    border-radius: 0.5em;
    transition: all 0.1s ease-in-out;
  }
  @for $i from 1 through 2 {
    .pad-col-1-row-#{$i},
    .pad-col-2-row-#{$i},
    .pad-col-3-row-#{$i},
    .pad-col-4-row-#{$i},
    .pad-col-6-row-#{$i},
    .pad-col-7-row-#{$i} {
      grid-row: #{$i};
    }
  }

  @for $i from 1 through 7 {
    .pad-col-#{$i}-row-1,
    .pad-col-#{$i}-row-2 {
      grid-column: #{$i};
    }
  }

  .pad-col-1-row-1.active,
  .pad-col-1-row-2.active {
    background: radial-gradient(
        circle,
        rgba(255, 255, 255, 0.5),
        rgba(0, 227, 252, 0.8),
        rgba(2, 176, 228, 0.8)
      ),
      rgba(9, 219, 242, 0.8);
    filter: drop-shadow(0.1em 0.1em 0.1em rgba(0, 227, 252, 0.8));
  }
  .pad-col-2-row-1.active,
  .pad-col-2-row-2.active {
    background: radial-gradient(
        circle,
        rgba(255, 255, 255, 0.5),
        rgba(247, 6, 70, 0.8),
        rgba(232, 21, 31, 0.8)
      ),
      rgba(234, 4, 4, 0.8);
    filter: drop-shadow(0.1em 0.1em 0.1em rgba(247, 6, 70, 0.8));
  }
  .pad-col-3-row-1.active,
  .pad-col-3-row-2.active {
    background: radial-gradient(
        circle,
        rgba(255, 255, 255, 0.5),
        rgba(242, 6, 242, 0.8),
        rgba(191, 23, 191, 0.8)
      ),
      rgba(191, 23, 191, 0.8);
    filter: drop-shadow(0.1em 0.1em 0.1em rgba(242, 6, 242, 0.8));
  }
  .pad-col-4-row-1.active,
  .pad-col-4-row-2.active {
    background: radial-gradient(
        circle,
        rgba(255, 255, 255, 0.5),
        rgba(6, 242, 112, 0.8),
        rgba(14, 223, 150, 0.53)
      ),
      rgba(23, 191, 90, 0.55);
    filter: drop-shadow(0.1em 0.1em 0.1em rgba(6, 242, 112, 0.8));
  }
  .pad-col-5-row-1.active,
  .pad-col-5-row-2.active {
    background: radial-gradient(
        circle,
        rgba(255, 255, 255, 0.5),
        rgba(242, 242, 6, 0.955),
        rgba(255, 234, 6, 0.53)
      ),
      rgb(240, 240, 13);
    filter: drop-shadow(0.1em 0.1em 0.1em rgba(255, 255, 1, 0.8));
  }
  .pad-col-6-row-1.active,
  .pad-col-6-row-2.active {
    background: radial-gradient(
        circle,
        rgba(255, 255, 255, 0.5),
        rgba(255, 174, 0, 0.955),
        rgb(255, 175, 3)
      ),
      rgb(249, 179, 4);
    filter: drop-shadow(0.1em 0.1em 0.1em rgba(255, 177, 90, 0.8));
  }
  .pad-col-7-row-1.active,
  .pad-col-7-row-2.active {
    background: radial-gradient(
        circle,
        rgba(255, 255, 255, 0.5),
        rgba(0, 0, 255, 0.955),
        rgb(54, 20, 177)
      ),
      rgb(57, 4, 249);
    filter: drop-shadow(0.1em 0.1em 0.1em rgba(95, 109, 211, 0.96));
  }
}
.buttons-right-container {
  grid-row: 1/4;
  grid-column: 11/-1;
  display: grid;
  grid-template: repeat(3, 1fr) / repeat(3, 1fr);

  .logo {
    grid-row: 1;
    grid-column: 1/-1;

    h1 {
      margin-top: 1em;
      text-align: center;
      font-size: 2rem;
    }
  }
  .btn-lg-container {
    @include flex-col;
    grid-row: 2/4;
    grid-column: 1;
    gap: 1em;
    position: relative;
    &::before {
      @include arrow;
      top: -0.7em;
      transform: rotate(90deg);
    }
    &::after {
      @include arrow;
      bottom: -0.7em;
      transform: rotate(-90deg);
    }
    .fa-chevron-right {
      font-size: 2em;
    }
  }
  .btn-sm-container {
    grid-row: 2/4;
    grid-column: 2/4;
    @include flex-col;
    gap: 3em;
    .track {
      @include flex-row;
      gap: 1em;
      font-size: 0.8em;
      position: relative;
      h1 {
        position: absolute;
        bottom: -2em;
        &::before {
          @include arrow;
          left: 0;
        }
        &::after {
          @include arrow;
          transform: rotate(180deg);
          right: 0;
        }
      }
    }
    .capture {
      @include flex-row;
      gap: 1em;
      font-size: 0.8em;
      position: relative;
      h1 {
        display: inline;
        width: unset;
        position: absolute;
        bottom: -2em;
        right: 0.5em;
      }
      .fa-circle {
        color: red;
      }
    }
  }
}
.keyboard-container {
  margin-top: 1em;
  grid-row: 4/-1;
  grid-column: 2/13;
  display: grid;
  grid-template-columns: repeat(15, 1fr);
  place-items: center;
  gap: 0.2em;
  box-shadow: 0 0em 0.3em 0.1em rgba(255, 255, 255, 0.8);
  position: relative;
  .key {
    height: 100%;
    width: 100%;
    background: white;
    border: 0.2em solid black;
    border-radius: 0 0 0.4em 0.4em;
    position: relative;
    transform-origin: top;
  }
  .key-2,
  .key-4,
  .key-7,
  .key-9,
  .key-11,
  .key-14,
  .key-16,
  .key-19,
  .key-21,
  .key-23 {
    @include black-key;
  }
  .key-2 {
    left: calc((100% / 15) * 0.5);
  }
  .key-4 {
    left: calc((100% / 15) * (0.5 * 2 + 0.9));
  }
  .key-7 {
    left: calc((100% / 15) * (0.5 * 7));
  }
  .key-9 {
    left: calc((100% / 15) * (0.5 * 8 + 0.7));
  }
  .key-11 {
    left: calc((100% / 15) * (0.5 * 10 + 0.9));
  }
  .key-14 {
    left: calc((100% / 15) * (0.5 * 15));
  }
  .key-16 {
    left: calc((100% / 15) * (0.5 * 16 + 0.9));
  }
  .key-19 {
    left: calc((100% / 15) * (0.5 * 21));
  }
  .key-21 {
    left: calc((100% / 15) * (0.5 * 22 + 0.7));
  }
  .key-23 {
    left: calc((100% / 15) * (0.5 * 26));
  }
}
