:root {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  height: 100vh;
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
}

h1 {
  font-size: 1em;
  text-transform: capitalize;
  color: rgba(221, 219, 219, 0.6);
  display: block;
  width: 100%;
  text-align: center;
  margin: 0 0 0.2em 0;
}

span {
  font-size: 1em;
  font-weight: bold;
  color: white;
  text-transform: capitalize;
  text-align: center;
}

.btn:hover,
.key:hover,
.pad:hover,
.nob:hover,
.wheel:hover {
  cursor: pointer;
}

.btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: rgba(92, 92, 92, 0.9);
  -webkit-box-shadow: 0.05em 0.05em 0.05em 0.1em rgba(255, 255, 255, 0.3);
          box-shadow: 0.05em 0.05em 0.05em 0.1em rgba(255, 255, 255, 0.3);
  border: 0.1em outset white;
  border-radius: 0.1em;
  -webkit-transform: rotateX(20deg);
          transform: rotateX(20deg);
  -webkit-transition: all 0.05s ease-in-out;
  transition: all 0.05s ease-in-out;
}

.btn.active {
  -webkit-box-shadow: 0.05em 0.05em 0.1em 0.1em rgba(255, 255, 186, 0.9);
          box-shadow: 0.05em 0.05em 0.1em 0.1em rgba(255, 255, 186, 0.9);
  -webkit-transform: translateZ(-0.05em);
          transform: translateZ(-0.05em);
}

.btn.active span {
  color: rgba(255, 255, 102, 0.7);
}

.btn-sm {
  height: 2rem;
  width: 4rem;
}

.btn-lg {
  height: 5rem;
  width: 5rem;
}

.midi-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: (1fr)[6];
  -ms-grid-columns: (1fr)[13];
      grid-template: repeat(6, 1fr)/repeat(13, 1fr);
  width: 90%;
  height: 80%;
  border: 2px solid black;
  background: radial-gradient(black 15%, transparent 2%) 0 0, radial-gradient(black 15%, transparent 2%) 8px 8px, radial-gradient(rgba(255, 255, 255, 0.1) 15%, transparent 20%) 0 1px, radial-gradient(rgba(255, 255, 255, 0.1) 15%, transparent 20%) 8px 9px;
  background-color: #282828;
  background-size: 10px 10px;
}

.wheels-container {
  -ms-grid-row: 1;
  -ms-grid-row-span: 3;
  grid-row: 1/4;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1/3;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  text-align: center;
}

.wheels-container .wheel {
  width: 60%;
  height: 80%;
  background: black;
  border-radius: 0.5em;
  border: 0.4em groove rgba(255, 255, 255, 0.5);
  -webkit-box-shadow: inset 0 0 0.1em 0.1em rgba(255, 255, 255, 0.7);
          box-shadow: inset 0 0 0.1em 0.1em rgba(255, 255, 255, 0.7);
  position: relative;
  margin: 0 auto;
}

.wheels-container .wheel .slide-bar-right,
.wheels-container .wheel .slide-bar-left {
  position: absolute;
  display: block;
  width: 80%;
  height: 0.3em;
  background: rgba(158, 156, 156, 0.5);
  border-bottom: 0.1em solid rgba(255, 255, 255, 0.3);
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.buttons-left-container {
  -ms-grid-row: 1;
  -ms-grid-row-span: 3;
  grid-row: 1/4;
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-column: 3/4;
  height: 100%;
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: (1fr)[2];
      grid-template-rows: repeat(2, 1fr);
}

.buttons-left-container .timing-btns {
  -ms-grid-row: 1;
  grid-row: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  font-size: 0.8em;
}

.buttons-left-container .octave-btns {
  -ms-grid-row: 2;
  grid-row: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1em;
}

.nobs-container {
  -ms-grid-row: 1;
  grid-row: 1;
  -ms-grid-column: 4;
  -ms-grid-column-span: 7;
  grid-column: 4/11;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[7];
      grid-template-columns: repeat(7, 1fr);
  place-items: center;
}

.nobs-container .nob {
  background-color: #131313;
  background-size: 1em 1em;
  -webkit-box-shadow: 0 0 0.1em 0.1em rgba(221, 219, 219, 0.6), 0 0 0.1em 0.05em rgba(133, 132, 132, 0.6), 0em 0em 0.05em 0.1em rgba(255, 255, 255, 0.7);
          box-shadow: 0 0 0.1em 0.1em rgba(221, 219, 219, 0.6), 0 0 0.1em 0.05em rgba(133, 132, 132, 0.6), 0em 0em 0.05em 0.1em rgba(255, 255, 255, 0.7);
  border-radius: 50%;
  height: 40%;
  width: 40%;
  border: 1px solid gray;
  -webkit-transform: rotateX(30deg) translate3d(0, 0, 0.5em);
          transform: rotateX(30deg) translate3d(0, 0, 0.5em);
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  position: relative;
}

.nobs-container .nob::after {
  content: "";
  position: absolute;
  top: 0;
  right: 50%;
  -webkit-transform-origin: 100%;
          transform-origin: 100%;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
  width: 1em;
  height: 0.2em;
  background: white;
}

.pads-container {
  -ms-grid-row: 2;
  -ms-grid-row-span: 2;
  grid-row: 2/4;
  -ms-grid-column: 4;
  -ms-grid-column-span: 7;
  grid-column: 4/11;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: (1fr)[2];
  -ms-grid-columns: (1fr)[7];
      grid-template: repeat(2, 1fr)/repeat(7, 1fr);
  padding: 0.5em;
  place-items: center;
}

.pads-container .pad {
  width: 90%;
  height: 80%;
  background: radial-gradient(circle, rgba(255, 255, 255, 0.7), rgba(255, 255, 186, 0.8), rgba(255, 255, 200, 0.8), rgba(255, 255, 214, 0.8)), rgba(255, 255, 102, 0.8);
  -webkit-box-shadow: inset 0 0 0.1em 0.05em rgba(0, 0, 0, 0.9), 0.05em 0.05em 0.05em 0.05em #262525;
          box-shadow: inset 0 0 0.1em 0.05em rgba(0, 0, 0, 0.9), 0.05em 0.05em 0.05em 0.05em #262525;
  -webkit-filter: drop-shadow(0.1em 0.1em 0.1em rgba(255, 255, 186, 0.9));
          filter: drop-shadow(0.1em 0.1em 0.1em rgba(255, 255, 186, 0.9));
  border-radius: 0.5em;
  -webkit-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
}

.pads-container .pad-col-1-row-1,
.pads-container .pad-col-2-row-1,
.pads-container .pad-col-3-row-1,
.pads-container .pad-col-4-row-1,
.pads-container .pad-col-6-row-1,
.pads-container .pad-col-7-row-1 {
  -ms-grid-row: 1;
  grid-row: 1;
}

.pads-container .pad-col-1-row-2,
.pads-container .pad-col-2-row-2,
.pads-container .pad-col-3-row-2,
.pads-container .pad-col-4-row-2,
.pads-container .pad-col-6-row-2,
.pads-container .pad-col-7-row-2 {
  -ms-grid-row: 2;
  grid-row: 2;
}

.pads-container .pad-col-1-row-1,
.pads-container .pad-col-1-row-2 {
  -ms-grid-column: 1;
  grid-column: 1;
}

.pads-container .pad-col-2-row-1,
.pads-container .pad-col-2-row-2 {
  -ms-grid-column: 2;
  grid-column: 2;
}

.pads-container .pad-col-3-row-1,
.pads-container .pad-col-3-row-2 {
  -ms-grid-column: 3;
  grid-column: 3;
}

.pads-container .pad-col-4-row-1,
.pads-container .pad-col-4-row-2 {
  -ms-grid-column: 4;
  grid-column: 4;
}

.pads-container .pad-col-5-row-1,
.pads-container .pad-col-5-row-2 {
  -ms-grid-column: 5;
  grid-column: 5;
}

.pads-container .pad-col-6-row-1,
.pads-container .pad-col-6-row-2 {
  -ms-grid-column: 6;
  grid-column: 6;
}

.pads-container .pad-col-7-row-1,
.pads-container .pad-col-7-row-2 {
  -ms-grid-column: 7;
  grid-column: 7;
}

.pads-container .pad-col-1-row-1.active,
.pads-container .pad-col-1-row-2.active {
  background: radial-gradient(circle, rgba(255, 255, 255, 0.5), rgba(0, 227, 252, 0.8), rgba(2, 176, 228, 0.8)), rgba(9, 219, 242, 0.8);
  -webkit-filter: drop-shadow(0.1em 0.1em 0.1em rgba(0, 227, 252, 0.8));
          filter: drop-shadow(0.1em 0.1em 0.1em rgba(0, 227, 252, 0.8));
}

.pads-container .pad-col-2-row-1.active,
.pads-container .pad-col-2-row-2.active {
  background: radial-gradient(circle, rgba(255, 255, 255, 0.5), rgba(247, 6, 70, 0.8), rgba(232, 21, 31, 0.8)), rgba(234, 4, 4, 0.8);
  -webkit-filter: drop-shadow(0.1em 0.1em 0.1em rgba(247, 6, 70, 0.8));
          filter: drop-shadow(0.1em 0.1em 0.1em rgba(247, 6, 70, 0.8));
}

.pads-container .pad-col-3-row-1.active,
.pads-container .pad-col-3-row-2.active {
  background: radial-gradient(circle, rgba(255, 255, 255, 0.5), rgba(242, 6, 242, 0.8), rgba(191, 23, 191, 0.8)), rgba(191, 23, 191, 0.8);
  -webkit-filter: drop-shadow(0.1em 0.1em 0.1em rgba(242, 6, 242, 0.8));
          filter: drop-shadow(0.1em 0.1em 0.1em rgba(242, 6, 242, 0.8));
}

.pads-container .pad-col-4-row-1.active,
.pads-container .pad-col-4-row-2.active {
  background: radial-gradient(circle, rgba(255, 255, 255, 0.5), rgba(6, 242, 112, 0.8), rgba(14, 223, 150, 0.53)), rgba(23, 191, 90, 0.55);
  -webkit-filter: drop-shadow(0.1em 0.1em 0.1em rgba(6, 242, 112, 0.8));
          filter: drop-shadow(0.1em 0.1em 0.1em rgba(6, 242, 112, 0.8));
}

.pads-container .pad-col-5-row-1.active,
.pads-container .pad-col-5-row-2.active {
  background: radial-gradient(circle, rgba(255, 255, 255, 0.5), rgba(242, 242, 6, 0.955), rgba(255, 234, 6, 0.53)), #f0f00d;
  -webkit-filter: drop-shadow(0.1em 0.1em 0.1em rgba(255, 255, 1, 0.8));
          filter: drop-shadow(0.1em 0.1em 0.1em rgba(255, 255, 1, 0.8));
}

.pads-container .pad-col-6-row-1.active,
.pads-container .pad-col-6-row-2.active {
  background: radial-gradient(circle, rgba(255, 255, 255, 0.5), rgba(255, 174, 0, 0.955), #ffaf03), #f9b304;
  -webkit-filter: drop-shadow(0.1em 0.1em 0.1em rgba(255, 177, 90, 0.8));
          filter: drop-shadow(0.1em 0.1em 0.1em rgba(255, 177, 90, 0.8));
}

.pads-container .pad-col-7-row-1.active,
.pads-container .pad-col-7-row-2.active {
  background: radial-gradient(circle, rgba(255, 255, 255, 0.5), rgba(0, 0, 255, 0.955), #3614b1), #3904f9;
  -webkit-filter: drop-shadow(0.1em 0.1em 0.1em rgba(95, 109, 211, 0.96));
          filter: drop-shadow(0.1em 0.1em 0.1em rgba(95, 109, 211, 0.96));
}

.buttons-right-container {
  -ms-grid-row: 1;
  -ms-grid-row-span: 3;
  grid-row: 1/4;
  grid-column: 11/-1;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: (1fr)[3];
  -ms-grid-columns: (1fr)[3];
      grid-template: repeat(3, 1fr)/repeat(3, 1fr);
}

.buttons-right-container .logo {
  -ms-grid-row: 1;
  grid-row: 1;
  grid-column: 1/-1;
}

.buttons-right-container .logo h1 {
  margin-top: 1em;
  text-align: center;
  font-size: 2rem;
}

.buttons-right-container .btn-lg-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-grid-row: 2;
  -ms-grid-row-span: 2;
  grid-row: 2/4;
  -ms-grid-column: 1;
  grid-column: 1;
  gap: 1em;
  position: relative;
}

.buttons-right-container .btn-lg-container::before {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border-right: 0.7em solid rgba(221, 219, 219, 0.6);
  border-top: 0.7em solid transparent;
  border-bottom: 0.7em solid transparent;
  top: -0.7em;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.buttons-right-container .btn-lg-container::after {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border-right: 0.7em solid rgba(221, 219, 219, 0.6);
  border-top: 0.7em solid transparent;
  border-bottom: 0.7em solid transparent;
  bottom: -0.7em;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
}

.buttons-right-container .btn-lg-container .fa-chevron-right {
  font-size: 2em;
}

.buttons-right-container .btn-sm-container {
  -ms-grid-row: 2;
  -ms-grid-row-span: 2;
  grid-row: 2/4;
  -ms-grid-column: 2;
  -ms-grid-column-span: 2;
  grid-column: 2/4;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 3em;
}

.buttons-right-container .btn-sm-container .track {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1em;
  font-size: 0.8em;
  position: relative;
}

.buttons-right-container .btn-sm-container .track h1 {
  position: absolute;
  bottom: -2em;
}

.buttons-right-container .btn-sm-container .track h1::before {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border-right: 0.7em solid rgba(221, 219, 219, 0.6);
  border-top: 0.7em solid transparent;
  border-bottom: 0.7em solid transparent;
  left: 0;
}

.buttons-right-container .btn-sm-container .track h1::after {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border-right: 0.7em solid rgba(221, 219, 219, 0.6);
  border-top: 0.7em solid transparent;
  border-bottom: 0.7em solid transparent;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  right: 0;
}

.buttons-right-container .btn-sm-container .capture {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1em;
  font-size: 0.8em;
  position: relative;
}

.buttons-right-container .btn-sm-container .capture h1 {
  display: inline;
  width: unset;
  position: absolute;
  bottom: -2em;
  right: 0.5em;
}

.buttons-right-container .btn-sm-container .capture .fa-circle {
  color: red;
}

.keyboard-container {
  margin-top: 1em;
  grid-row: 4/-1;
  -ms-grid-column: 2;
  -ms-grid-column-span: 11;
  grid-column: 2/13;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[15];
      grid-template-columns: repeat(15, 1fr);
  place-items: center;
  gap: 0.2em;
  -webkit-box-shadow: 0 0em 0.3em 0.1em rgba(255, 255, 255, 0.8);
          box-shadow: 0 0em 0.3em 0.1em rgba(255, 255, 255, 0.8);
  position: relative;
}

.keyboard-container .key {
  height: 100%;
  width: 100%;
  background: white;
  border: 0.2em solid black;
  border-radius: 0 0 0.4em 0.4em;
  position: relative;
  -webkit-transform-origin: top;
          transform-origin: top;
}

.keyboard-container .key-2,
.keyboard-container .key-4,
.keyboard-container .key-7,
.keyboard-container .key-9,
.keyboard-container .key-11,
.keyboard-container .key-14,
.keyboard-container .key-16,
.keyboard-container .key-19,
.keyboard-container .key-21,
.keyboard-container .key-23 {
  z-index: 2;
  position: absolute;
  top: 0.05em;
  width: 3%;
  height: 60%;
  background: black;
  -webkit-box-shadow: 0.1em 0.3em 0.1em 0.4em black, 0.1em 0em 0.05em 0.2em rgba(0, 0, 0, 0.9), inset 0.05em 0.05em gray, inset 0.2em 0.1em rgba(255, 255, 255, 0.6), inset -0.2em 0 rgba(58, 58, 58, 0.5);
          box-shadow: 0.1em 0.3em 0.1em 0.4em black, 0.1em 0em 0.05em 0.2em rgba(0, 0, 0, 0.9), inset 0.05em 0.05em gray, inset 0.2em 0.1em rgba(255, 255, 255, 0.6), inset -0.2em 0 rgba(58, 58, 58, 0.5);
  border-bottom: 1em solid rgba(255, 255, 255, 0.2);
  -webkit-transform: rotateX(100px);
          transform: rotateX(100px);
  -webkit-perspective: -200px;
          perspective: -200px;
}

.keyboard-container .key-2 {
  left: calc((100% / 15) * 0.5);
}

.keyboard-container .key-4 {
  left: calc((100% / 15) * (0.5 * 2 + 0.9));
}

.keyboard-container .key-7 {
  left: calc((100% / 15) * (0.5 * 7));
}

.keyboard-container .key-9 {
  left: calc((100% / 15) * (0.5 * 8 + 0.7));
}

.keyboard-container .key-11 {
  left: calc((100% / 15) * (0.5 * 10 + 0.9));
}

.keyboard-container .key-14 {
  left: calc((100% / 15) * (0.5 * 15));
}

.keyboard-container .key-16 {
  left: calc((100% / 15) * (0.5 * 16 + 0.9));
}

.keyboard-container .key-19 {
  left: calc((100% / 15) * (0.5 * 21));
}

.keyboard-container .key-21 {
  left: calc((100% / 15) * (0.5 * 22 + 0.7));
}

.keyboard-container .key-23 {
  left: calc((100% / 15) * (0.5 * 26));
}
/*# sourceMappingURL=mainstyle.css.map */